---
---

<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>
    <body style="background-image: url('{{site.github.url}}/assets/images/body-skin.jpg');">
        {% include navigation.html %}
        {% include carousel.html %}
        {% include featured.html %}
        {% include all_post_landing.html %}
        <!-- {% include testimonial.html %} -->
        <div id="push"></div>
        {% include footer.html %}

        <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>

    </body>
</html>
<script type="text/javascript">
    $(document).ready(function(){
        /**
         * transparent class makes navbar transparent
         * navbar-fixed-top fixed the navbar to the top and makes it always visible
         * adds background-color to the page. It helps when image resizes.
        */
        var _this = $('.navigation');
        _this.addClass('transparent navbar-fixed-top');
        $('body').addClass('body-skin');

        $(window).scroll(function () {
               if ($(this).scrollTop() > 50) {
                   $('#back-to-top').fadeIn();
               } else {
                   $('#back-to-top').fadeOut();
               }
           });
           // scroll body to 0px on click
           $('#back-to-top').click(function () {
               $('#back-to-top').tooltip('hide');
               $('body,html').animate({
                   scrollTop: 0
               }, 800);
               return false;
           });

           $('#back-to-top').tooltip('show');
    });
</script>
