#carousel.slick-slider {
        margin-bottom: 0px;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        background-color: $wax-flower-with-opecity;
}

#carousel img{
    float: left;
    width: 100%;
    margin-bottom: -3000%;
}

#carousel .caption{
    margin-top: 20%;
    margin-bottom: 30%;
}
#carousel h1{
    font-family: 'Cherry Swash', cursive;
    color: $text-two;
}



#carousel a{
  // background-color: transparent;
  // border-style: solid;
  // border-width: 1px;
  // border-color: white;
  // border-radius: 24px;
  // color: #fff;
}

#carousel a:hover {
    // color: #333;
    text-decoration: none;
    background-color: $turquoise;
}

#carousel p{
    font-size: 24px;
    color: $text-two;
    font-family: 'Cherry Swash', cursive;
}


// @media only screen and (min-width:1200)  {
    // .carousel{
    //     height: 500px;
    // }
// }
