@import "import";

.navigation.transparent{
  margin: 0 auto;
  overflow: hidden;
  font-weight: 600;
  background-color: rgba(0,0,0,0.25);
  border-color: transparent;
  color: #fff !important;
  color: $text-purple !important;
  @include border-radius(0px);
  @include box-shadow(0 0 0 0);
  a{
    color: $text-two !important;
    }
  a:hover,a:focus{
    font-size: 17px;
  }

}

.navbar-brand{
    font-size: 20px !important;
    font-weight: normal;
    img{
        margin-top: -19%;
        width: 60%;
    }
    .name{
        margin-left: -25px;
    }
}


.navigation{
  margin: 0 auto;
  overflow: hidden;
  font-weight: 600;
  background-color: $green-sea;
  border-color: $green-sea;
  color: #fff !important;
  @include box-shadow(2px 2px 3px rgba(0,0,0,.3));

  .nav-tabs{
    border-bottom: transparent;
  }

  a {
    color: $text-two !important;
  }

  a:hover,a:focus,.navbar-brand
  {
    color: $clouds;
    font-size: 17px;
  }
}

.navigation #cse{
    max-width: 350px;
    float: right;
    .gsc-branding-text,.gsc-branding-img{
        display: none;
    }
    #gsc-i-id1{
        display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    .gsc-search-button{
        height: 100%;
    }
    .gsc-control-cse {
        padding: 0em;
        background: transparent;
        border: none;
    }
}


.navbar-header
{
    float: none;
}

.navbar-toggle
{
    display: block;
}

.navigation ul{
    list-style-type: none;
    line-height: 50px;

    a{
        text-decoration: none;
    }
}


.back-to-top {
    cursor: pointer;
    position: fixed;
    background-color: $purple;
    border-color: $purple;
    // @include border-radius(0);
    @include box-shadow(2px 2px 3px rgba(142,68,173,.3));

    bottom: 20px;
    right: 20px;
    display:none;
    z-index: 1000;
    border-color: $purple;
}
.back-to-top:hover{
    background-color: $purple;
    border-color: $purple;
}

.navbar-brand.logo{
    padding-right:0px;
}
.navbar-brand.name{
    padding-left:  0px;
}
