.posts{
    // background-color: blanchedalmond;
    background-color: $wax-flower-with-opecity;
    .well{
        font-family: 'Cherry Swash', cursive;
    }
}

div.posts * {
        color: $purple;
        font-family: 'Cherry Swash', cursive; 
}
