
.post-top-frame {
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  height: 950px;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.tag-line {
  margin-top: 20%;
  color: #fff !important;
  h1{
      font-weight: bold;
      font-family: 'Cherry Swash', cursive;
  }
}

.jumbotron{
    color: $purple;
    font-family: 'Cherry Swash', cursive;
    background-color: $wax-flower-with-opecity;
    a{
        color: $purple;
    }
}
