#testimonial{
    background-color: #8e44ad;
    color: $text-two;
    blockquote{
        margin-top: 5em;
        margin-bottom: 5em;
        p{
            font-family: ProximaNovaA-Thin;
            font-size: 26px;
        }
    }
}
