<div class="background-wrap">
    <div class="all_post_landing">
        <div class="row">
            {% for post in site.posts limit:12 %}
                {% if post.image %}
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 thubmnail pull-right">
			    <a href="{{ site.github.url }}{{post.url}}">
                            <img src="{{ site.github.url }}{{ post.image }}" class="img-responsive" alt="Responsive image">
                            <div class="caption">
                               <h2>{{post.title}}</h2>
                           </div>
                         </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <a href = "{{ site.github.url }}/blog/" class="btn btn-lg btn-danger">MORE POSTS</a>
            </div>
        </div>
    </div>
</div>
