<div class="background-wrap">
    <div id='featured'>
        <div class="container">
            <div class="row">
                <div class='col-sm-12 text-center'>
		  <h2>News of Prestigious Weddings from	Capitals and Major Cities around the World</h2>
		</div>
            </div>
        </div>
    <div class="row address-line ProximaNovaA-Thin">
       <div class='col-sm-12 text-left'>
           <h4>
		<small>If something is importan enough you should try, even if the probable outcome is failur.</small>
           </h4>
       </div>
    </div>

        <div class="row">
            <div class='col-sm-12'>
                <span class="nvgt glyphicon glyphicon-chevron-left" id="prev"></span>
                <span class="nvgt glyphicon glyphicon-chevron-right" id="next"></span>
                <div data-slick='{"slidesToShow": 6, "slidesToScroll": 6}' class='lazy'>
                   {% for post in site.posts limit:30 %}
                       {% if post.featured == true %}
                       <a href="{{ site.github.url }}{{ post.url }}">
                            <div class="thubmnail">
                                <img class="img-responsive" alt="Responsive image" data-lazy="{{ site.github.url }}{{ post.image}}">
                                <div class="caption">
                                    <h2>{{ post.title }} </h2>
                                </div>
                            </div>
                        </a>
                       {% endif %}
                   {% endfor %}
                 </div>
            </div>
        </div>
    </div>
</div>
