<div class="background-wrap">
	<div id='featured'>
		<div class="container">
			<div class="row">
				<div class='col-sm-12 text-center'>
					<h1>The Bride & Groom</h1>
				</div>
			</div>
			<div class='row'>
				<div class='col-sm-6'>
					<h2>Sahana</h2>
					<p>
						Born on May 02 to a blessed duo Mr. Ganapati and Mrs Geeta Ganapati,  in a Cotton hub city and also known as Manchester of Karnataka Davangere.. She spent most of her childhood in twirling and dancing around Hassan and early schooling and college days in Kunda nagari Belagavi Karnataka. 
Sahana, the name has many combination meaning like, Patience and it names  a Raaga, a category of music that's what her personality is. Putting on talent shows for her parents and family, her creative spirit and eye for art was established at a young age, after her graduation from Gogte College of Commerce followed by her Master's in Human Resource at Institute of Management Education and Research. Belgaum.

Her hands on knowledge helped to secure a job at Accenture, Bangalore and she is slowly climbing the professional ladder working with Zovi.com

She is sailing a wonderful journey in the field of Karnatic Music and Bharatnatyam Dance and very passionate about Art and Creativity. She loves travelling around with her best buddies. She is very shy natured , caring and adaptable so will look after her hubby Vijeth and her new family.
Vijet
					</p>
				</div>
				<div class='col-sm-6'>
					<h2>Vijet</h2>
					<p>
					Born on May 02,  in a relatively quiet village Soundalga , in the state of Karnataka -India, Vijeth has been a wonderful person to get along with. He spent most of his childhood and early schooling days in Sirsi, Karnataka at his grandparents. He grew up in the rustic surroundings and this has been key to his good natured and helpful behaviour which helps him understand the joy of small things well into his adult life.
					After his diploma in Elec Engg followed by a bachelors degree in Electrical Engineering from BVB College of Engg and Tech in Hubli, Karnataka, his hands on technical knowledge and quick wit helped him secure a technical job at Sankalp conductors, Hubli and is slowly climbing the professional ladder working with Altran technologies, Bangalore. He loves listening to music, has a good number of friends who are there for him always and has immense interest in riding bikes. He loves travelling and has completed a wonderful bike-ride to Leh-Ladakh, an adventure of a different level by itself. With his immense experience in life and technical field of troubleshooting electronic circuits, he will be there for Sahana 24x7 troubleshooting all her problems and being at her side.
					<p>
				</div>
			</div>
			<div class='row'>
				<div class='col-sm-12'>
					<h1>Wedding Ceremony</h1>
					<h3>9:40AM to 10:40AM at  Mahaveer Bhavan, Goaves Circle, Hindvadi, Belgaum <h3>
				</div>
			</div>

			<div class='row'>
				<div class='col-sm-12'>
					<h1>VICINITY MAP</h1>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3838.352588044425!2d74.50595141540886!3d15.838055389024133!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bbf6684e04afeeb%3A0x485bf977a96ea516!2sMahaveer+Bhavan!5e0!3m2!1sen!2sin!4v1468223798903" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>

