<div id="footer" class="background-wrap">
    <div>
          <div class="container-fluid">
              <div class="row ProximaNovaA-Thin">
                  <div class='col-md-2 col-sm-6'>
                    <ul>
                        <li><h3>Pages</h3></li>
                        <li><a href="{{ site.url }}/">Home</a></li>
			<li><a href="{{ site.github.url }}/contact/">Contact</a></li>
                        <li><a href="{{ site.github.url }}/blog/">Blog</a></li>
                    </ul>
                  </div>
                  <div class='col-md-4 col-sm-6'>
                    <ul>
                        <li>
                            <h3>Recent Post</h3>
                        </li>
                        {% for post in site.tags["Recent"] limit:5 %}
			<li><a href="{{site.github.url}}{{ post.url }}">{{ post.title }}</a></li>
                        {% endfor %}
                    </ul>
                  </div>
                  <div class='col-md-3 col-sm-6'>
                    <ul>
                        <li><h3>Archives</h3></li>
                        <li><a href="{{ site.github.url }}/archives/2015/">2015 Posts</a></li>
                        <li><a href="{{ site.github.url }}/archives/2014/">2014 Posts</a></li>
                        <li><a href="{{ site.github.url }}/archives/2013/">2013 Posts</a></li>
                    </ul>
                  </div>
                  <div class='col-md-3 col-sm-6'>
                        <ul>
                            <li><h3>Category</h3></li>
                            <li><a href="{{ site.github.url }}/tags/Wedding-News/">Wedding-News</a></li>
                            <li><a href="{{ site.github.url }}/tags/Wedding-Destination/">Wedding-Destination</a></li>
                            <li><a href="{{ site.github.url }}/tags/Honeymoon/">Honeymoon</a></li>
                        </ul>
                  </div>
              </div>
          </div>
    </div>
    <div class="row address-line ProximaNovaA-Thin">
       <div class='col-sm-12 text-left'>
           <h4>
               <small>© 2016 www.dot.city &nbsp&nbsp 45B West Wilmot Street, Suite 202 Richmond Hill, Ontario L4B 2P3 Canada. +1-289-809-8401 inquiries@wedding.news</small>
           </h4>
       </div>
    </div>
</div>



<script src="{{ site.github.url }}/assets/libs/jquery/dist/jquery.min.js"></script>

<!--  slick is to show to slider for featured post -->
<script src="{{ site.github.url }}/assets/libs/slick-1.5.9/slick/slick.min.js"></script>

<script src="{{ site.github.url }}/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>

<!--  scrpt is the custome page -->
<script src="{{ site.github.url }}/assets/script.js"></script>
