<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

<!-- bootstrap -->
<link href="{{ site.github.url }}/assets/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- slick slider -->
<link href="{{ site.github.url }}/assets/libs/slick-1.5.9/slick/slick.css" rel="stylesheet">
<link href="{{ site.github.url }}/assets/libs/slick-1.5.9/slick/slick-theme.css" rel="stylesheet">

<!-- style.css is genrated by compiling all the _saas files-->
<link rel="stylesheet" href="{{ site.github.url }}/assets/sass/style.css">

<!-- 1. load the webfonts -->
<link rel="stylesheet" type="text/css" href="{{ site.github.url }}/assets/fonts/MyFontsWebfontsKit/MyFontsWebfontsKit.css"/>

<link href='https://fonts.googleapis.com/css?family=Cherry+Swash:400,700' rel='stylesheet' type='text/css'>

<link href='https://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
<!-- google webmaster for site search verification tag -->
<meta name="google-site-verification" content="OsOUPQC4-O6o-0X6teMLiRKIOu67cSRSC35rxZ9uQ_U" />
