<nav class="navbar navbar-default navigation transparent navbar-fixed-top">

    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand logo" href="">
                <img alt="Brand" src="{{site.github.url}}/assets/images/logo.jpg">
            </a>
            <a class="navbar-brand name" href="">
                Sahana Wedds Vijet
            </a>
			<div class='text-center'>
				<h1>AUGUST 4<span class='th'>th</span> , 2016</h1>
			</div>
        </div>
    </div>
</nav>

