<div class="background-wrap">
    <div id='testimonial'>
        <div class="container">
            <div class="row">
                <div class='col-sm-12'>
                    <blockquote class='ProximaNovaA-Thin'>
                        <p class="">
                            Come, let's be a comfortable couple and take care of each other!
                            How glad we shall be, that we have somebody we are fond of always, to talk to and sit with.  ~Charles Dickens
                        </p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
