---
layout: default
---
 <div id="wrap"  class='posts background-wrap top-margin'>
    <div class="container">
        <div class="row">
            <div class='col-sm-12'>
                  <h1>{{ page.year }} Archives</h1>
            </div>
        </div>
        <div class="archive-items">
          <ul>
        
	{% for post in site.posts %}
	    {% capture post_year%}{{ post.date | date: "%Y" }}{% endcapture %}
	    {% capture page_year%}{{page.year | strip }}{% endcapture %}
	      {% if page_year == post_year %}
              	 {% include post-row.html %}	
	      {% endif %}
	{% endfor %}
          </ul>
        </div>
    </div>
</div>
